@use "../colors";
@use "../radii";
@use "../macros";

@mixin _divider-base {
    border-radius: radii.$large;
    border: 1px solid colors.$accent-dim;
}

hr { 
    @include _divider-base;
}

.vertical-divider {
    @include _divider-base;
    @include macros.margin-horizontal(0.5rem);
    height: 100%;
}
