@use "../colors";
@use "../radii";

@-moz-document url-prefix() {
    * {
        scrollbar-color: colors.$accent transparent;
        scrollbar-width: thin;
    }
}

::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: colors.$accent;
    border-radius: radii.$large;

    &:active {
        background-color: colors.$accent-dim;
    }
}
