@use "../colors" as *;
@use "../fonts";
@use "../radii";

@mixin _header {
    @include fonts.header;
    color: $text-header;
    margin-top: 0.5rem;
}

h1 {
    @include _header;
    font-size: 1.75rem;
    line-height: 2rem;
    margin-top: unset;
}

h2 {
    @include _header;
    font-size: 1.5rem;
    line-height: 1.75rem;
}

h3 {
    @include _header;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

h4 {
    @include _header;
    font-size: 1rem;
    line-height: 1.25rem;
}

h5 {
    @include _header;
    font-size: 0.75rem;
    line-height: 1rem;
}

h6 {
    @include _header;
    font-size: 0.5rem;
    line-height: 0.75rem;
}

body {
    @include fonts.body;
    line-height: 1.25rem;
}

code {
    @include fonts.mono;
    @include radii.small;
    background-color: $background-tertiary;
    color: $text-bright;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

a {
    color: $accent;
    transition: opacity 0.1s;
    text-decoration: none;

    &:hover {
        opacity: 0.75;
    }
}

em {
    font-style: italic;
}

strong {
    font-weight: fonts.$weight-bold;
}


::selection {
    background-color: $accent-dim;
    color: $text-bright;
}
