@use "../colors" as *;
@use "../fonts";
@use "../radii";
@use "../macros";

@mixin h-base {
    @include macros.margin-vertical(0.25rem);
    color: $text-header;
}

h1 {
    @include h-base;
    font-size: 1.75rem;
    margin-top: 0;
}

h2 {
    @include h-base;
    font-size: 1.5rem;
}

h3 {
    @include h-base;
    font-size: 1.25rem;
}

h4 {
    @include h-base;
}

body {
    font-family: fonts.$sans;
    line-height: normal;
}

code {
    @include macros.padding-horizontal(0.5rem);
    @include radii.small;
    font-family: fonts.$mono;
    background-color: $bg-tertiary;
    color: $text-bright;
}

.astro-code {
    @include macros.margin-vertical(0.25rem);
    @include radii.small;
    background-color: $bg-tertiary !important;
    padding: 0.5rem;
    
    code {
        padding: unset;
    }
}

a {
    color: $accent;
    transition: opacity 0.1s;
    text-decoration: none;

    &:hover {
        opacity: 0.75;
    }
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

::selection {
    background-color: $accent-dim;
    color: $text-bright;
}
