---
import type { MDXInstance } from "astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import BlogPost from "@/components/BlogPost.astro";

const posts = (await Astro.glob("./**/*.{md,mdx}")) as MDXInstance<IBlogPost>[];
const chronoSort = (first: MDXInstance<IBlogPost>, second: MDXInstance<IBlogPost>) => new Date(first.frontmatter.pubDate).getTime() - new Date(second.frontmatter.pubDate).getTime();

// much deduplication... such wow...
const description = "excerpts of my mind, to be read at your leisure.";
---

<BaseLayout title="blog" description={description}>
    <h1>the swamp</h1>
    <p>{description}</p>
    <hr />
    {posts.sort(chronoSort).map((post, index) => <div>
        <BlogPost {...post.frontmatter} href={post.url} />
        {index !== posts.length - 1 && <hr />}
    </div>)}
</BaseLayout>
