// Backgrounds
$_transparency_factor: 0.75;
$background-primary: rgba(#391f45, $_transparency_factor);
$background-secondary: rgba(#351f43, $_transparency_factor);
$background-tertiary: rgba(#321f42, $_transparency_factor);

// Text
$text-header: #fde2f0;
$text-normal: #ffc9e5;
$text-bright: #ffd3ea;
$text-muted: #cca0b7;

// Accents
$accent: #ff0a88;
$accent-darker: #ab1862;
