// Backgrounds
$bg-primary: #391f45;
$bg-secondary: #351f43;
$bg-tertiary: #321f42;

// Text
$text-header: #fde2f0;
$text-bright: #ffd3ea;
$text-normal: #ffc9e5;
$text-dim: #cca0b7;

// Accents
$accent: #ff0a88;
$accent-alt: #db0a74;
$accent-dim: #ab1862;
