@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

$weight-normal: 400;
$weight-header: 500;
$weight-bold: 600;

@mixin base {
    font-family: "Fira Code", monospace;
    letter-spacing: -0.025em;
}

@mixin body {
    @include base;
    font-weight: $weight-normal;
}

@mixin header {
    @include base;
    font-weight: $weight-header;
}

@mixin mono {
    @include base;
    letter-spacing: 0;
}
