@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$font-sans: "Roboto", sans-serif;
$font-mono: "Fira Code";

$size-xxlarge: 1.75rem;
$size-xlarge: 1.5rem;
$size-large: 1.25rem;
$size-normal: 1rem;
$size-small: 0.75rem;
