@use "colors" as *;
@use "radii";
@use "blurs";

@mixin blurred-box {
    @include radii.medium;
    @include blurs.medium;
    background-color: $background-primary;
    border: 2px solid $accent-dim;
    padding: 0.5rem;
}

@mixin margin-horizontal($size) {
    margin-right: $size;
    margin-left: $size;
}

@mixin margin-vertical($size) {
    margin-top: $size;
    margin-bottom: $size;
}

@mixin centered-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@mixin hide-scrollbar {
    -ms-overflow-style: none; // IE and old Edge (do I need this?)
    scrollbar-width: none; // Firefox

    &::-webkit-scrollbar { // WebKit and Chromium
        display: none;
    }
}
