@use "colors";
@use "radii";

@mixin margin-horizontal($size) {
    margin-right: $size;
    margin-left: $size;
}

@mixin margin-vertical($size) {
    margin-top: $size;
    margin-bottom: $size;
}

@mixin padding-horizontal($size) {
    padding-right: $size;
    padding-left: $size;
}

@mixin padding-vertical($size) {
    padding-top: $size;
    padding-bottom: $size;
}

@mixin centered-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@mixin standout-box {
    background-color: colors.$bg-primary !important;
    border-radius: radii.$medium;
    padding: 0.5rem;
}

@mixin hide-scrollbar {
    scrollbar-width: none; // Firefox

    &::-webkit-scrollbar { // WebKit and Chromium
        display: none;
    }
}
