@use "reset";
@use "semantic";

@use "colors" as *;
@use "fonts";
@use "radii";

body {
    @include fonts.body;
    min-height: 100%;
    background-image: url("/images/blooming_hope.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $background-tertiary;
    color: $text-normal;
}

main {
    @include radii.medium;
    background-color: $background-primary;
    backdrop-filter: blur(18px);
    border: 2px solid $accent-darker;
    width: 800px;
    height: 600px;
    padding: 0.5rem;
    overflow-y: auto;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
