@use "reset";
@use "semantic";

@use "colors" as *;
@use "fonts";
@use "macros";
@use "breakpoints";

body {
    @include fonts.body;
    height: 100vh;
    background-image: url("/images/blooming_hope.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $background-tertiary;
    color: $text-normal;
}

main {
    @include macros.blurred-box;
    overflow-y: auto;

    @include breakpoints.desktop {
        width: 100%;
        max-width: 800px;
        height: 600px;
    }
}

nav {
    @include macros.blurred-box;
    @include macros.centered-row;

    @include breakpoints.desktop {
        width: 100%;
        max-width: 800px;
    }

    a {
        color: $text-bright;
        font-size: large;
    }
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.5rem;
    padding: 0.5rem;

    @include breakpoints.desktop {
        align-items: center;
        justify-content: center;
    }
}
