@use "reset";
@use "semantic";

@use "colors" as *;
@use "fonts";
@use "radii";
@use "blurs";
@use "breakpoints";

body {
    @include fonts.body;
    min-height: 100%;
    background-image: url("/images/blooming_hope.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $background-tertiary;
    color: $text-normal;
}

main {
    @include radii.medium;
    @include blurs.medium;
    background-color: $background-primary;
    border: 2px solid $accent-darker;
    padding: 0.5rem;
    overflow-y: auto;

    @include breakpoints.desktop {
        width: 800px;
        height: 600px;
    }

    @include breakpoints.mobile {
        width: 100%;
        margin: 0.5rem;
        height: fit-content;
    }
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;

    @include breakpoints.desktop {
        align-items: center;
    }
}
