---
export type Props = Route;

const { name, path, image } = Astro.props;

const currentPath = Astro.url.pathname;
const fixedPath =
    currentPath.length > 1 && currentPath.endsWith("/")
        ? currentPath.slice(0, -1)
        : currentPath;
---

<a href={path} class="flex sm:(flex-col w-full gap-1) lt-sm:(flex-row h-full) items-center">
    {image && <img class="p-2 sm:(pb-0) lt-sm:(w-[40px])" src={image} />}
    <span class={`${image ? "sm:(text-xl) lt-sm:(text-2xl)" : ""} ${fixedPath === path ? "text-normal!" : "text-muted!"}`}>{name}</span>
</a>
