---
import VerticalDivider from "@/components/VerticalDivider.astro";
import NavRoute from "@/components/NavRoute.astro";
import routes from "@/pages/_routes.json";
---

<style lang="scss">
    // Logically I could style this in the global .scss files, but teeeechnically the `nav` element
    // is considered semantic therefore... I think this is better?
    @use "@/styles/macros";

    .nav-routes {
        @include macros.centered-row;
        @include macros.hide-scrollbar;
        overflow-x: auto;
        height: 100%;
    }
</style>

<nav>
    <NavRoute
        href="/"
        title="marsh"
        image="/images/pinky.png"
        alt="Image of Pinky, from Terraria, used as the site logo"
    />
    <VerticalDivider />
    <div class="nav-routes">
        {routes.map((route) => route.href !== "/" && <NavRoute {...route} />)}
    </div>
</nav>
