@use "murky/styles/base";
@use "murky/styles/macros";

body {
    max-width: 900px;
    margin: 0 auto;
    background-image: url("/images/verdant.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    @include macros.centered-row;
}
