---
import "@/styles/base.scss";
import extractProps from "@/utils/extractProps";
import NavBar from "@/components/NavBar.astro";

export interface Props {
    title: string;
    description?: string;
}

const { title, description } = extractProps<Props>(Astro.props);
const fullTitle = `${title} - marsh's zone`;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="theme-color" content="#ff0a88" />
        <meta property="og:type" content="website">
        <meta property="og:image" content="/images/pinky.png">
        <meta property="og:description" content={description ?? "welcome to my little website."}>
        <meta property="og:title" content={fullTitle}>
        <title>{fullTitle}</title>
        <slot name="head" />
	</head>
	<body>
		<div class="container">
            <NavBar />
            <main>
                <slot />
            </main>
		</div>
	</body>
</html>
